/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    height: 100px;
    background-color: #e579e6;
}


/* main */

.jumbotron{
    height: 300px;  /* da togliere */
    background-color: #e1d67a;   /* da togliere */
}


.container{
    height: 500px;
    background-color: #0087ff;
}




/* footer */

footer{
    height: 50px;
    background-color: #8801fe;
}