/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* header */

header{
    height: 100px;
    background-color: #e579e6;
    margin-bottom: 20px;
}


/* main */

/* jumbotron */

.jumbotron{
    height: 300px;  /* da togliere */
    background-color: #e1d67a;   /* da togliere */
    margin-bottom: 20px;
}


/* contenitore degli lementi float */

.container{
    height: 500px;    /* da togliere */
    background-color: #0087ff;     /* da togliere */
    
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* parte alta contenitore */

.leadership{
    height: 20%;
    background-color: #abcfe7;
}

/* parte bassa contenitore */

.float-sx{
    float: left;
}

.margini{
    margin: 10% 0;
}

.blocco-sx, .blocco-dx{
    height: 80%;
    width: 25%;
    background-color: #abcfe7;


}

.blocco-center{
    height: 80%;
    width: 50%;
    background-color: #abcfe7;
}



/* footer */

footer{
    height: 50px;
    background-color: #8801fe;
    margin-top: 10px;
}