/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: auto;
}

/* header */

header{
    height: 100px;
    background-color: #e579e6;
}


/* main */

/* jumbotron */

.jumbotron{
    height: 300px;  /* da togliere */
    background-color: #e1d67a;   /* da togliere */
}


/* contenitore degli lementi float */

.container{
    height: 500px;    /* da togliere */
    background-color: #0087ff;     /* da togliere */
}

.leadership{
    height: 20%;
    background-color: #abcfe7;
}




/* footer */

footer{
    height: 50px;
    background-color: #8801fe;
}